* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Jose;
}

a,
button {
  user-select: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  @include flexcenter;
  background-image: var(--bg-img-mobile);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
}

section.wrapper {
  min-height: 100vh;
  width: 90vw;
  @include flexbox(flex-start, column);

  > * {
    width: 100%;
    border-radius: $rounded-border;
    margin-bottom: 1.5rem;
  }
}

header {
  @include flexbox;
  margin-top: 2.2rem;

  h1 {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: var(--bold);
  }

  button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }

  img {
    width: 2.2rem;

    &:hover {
      transform: $pop;
    }
  }
}

.add-todo {
  background-color: var(--card-bg);
  border-radius: $rounded-border;
  @include flexbox;

  input {
    flex: 1;
    background-color: var(--card-bg);
    border: none;
    text-align: center;
    font-size: $t-size;
    color: var(--plus-color);
    padding: $card-padding;
    outline: none;
  }

  #add-btn {
    color: var(--plus-color);
    font-size: 2.5rem;
    padding-right: 1rem;
    cursor: pointer;

    &:hover {
      transform: $pop;
    }
  }
}

span.circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--check-color);
  border-radius: 50%;
  margin-left: 0.5rem;
}

div.item-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
}

.list-info {
  @include flexbox();
  padding: 0.9rem;
  border-top: 1px solid rgb(205, 197, 197);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  div,
  button {
    color: var(--inactive-color);
    font-size: 0.8rem;
    &:hover {
      color: var(--hover-color);
      transform: $pop;
    }
  }

  button {
    cursor: pointer;
  }
}

ul.items {
  min-height: 11.3rem;
}

li {
  transition: opacity 0.3s ease-in-out;
  @include flexbox();
  gap: 1rem;
  font-size: $t-size;
  color: var(--plus-color);
  padding: $card-padding;
  border-bottom: 1px solid rgb(205, 197, 197);
  cursor: pointer;

  .todo {
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    overflow: hidden; /* Hides any overflowed content */
    text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
    width: 87%;
  }
  .circle img {
    background: $CheckBackground;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 0.2rem;
    display: none;
  }

  .circle {
    margin-left: -0.2rem;
  }
  button img {
    width: 1rem;
  }

  .circle img,
  button img {
    &:hover {
      transform: $pop;
      cursor: pointer;
    }
  }
}

.strike-todo {
  opacity: 0.5;
  div.todo {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
  }
}

.view-options {
  @include flexcenter;
  position: relative;
  gap: 1rem;
  padding: $card-padding;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  button {
    font-size: $f-size;
    color: var(--inactive-color);
    font-weight: $bold;

    &:hover {
      transform: $pop;
      color: var(--hover-color);
      cursor: pointer;
    }
  }

  .active {
    color: var(--active-color);
  }
}

.emptyList {
  @include flexcenter;
  padding: 4rem;
  background-color: var(--card-bg);
  color: var(--plus-color);
  border-radius: $rounded-border;
  font-size: 1.2rem;
}

.showDisplay {
  display: none;
}

footer {
  text-align: center;
  color: var(--plus-color);
  position: absolute;
  bottom: -100px;
  height: 2.5rem;
}
