:root[data-theme=dark] {
  --bg-color: #171723;
  --card-bg: hsl(235, 24%, 19%);
  --text-color: hsl(0, 0%, 73%);
  --inactive-color: hsl(234, 11%, 52%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(236, 33%, 92%);
  --check-color: hsl(233, 14%, 35%);
  --shadow-color: hsla(0, 0%, 7%, 0.877);
  --plus-color: white;
  --bg-img-mobile: url(./../assets/bg-mobile-dark.jpg);
  --bg-img-desktop: url(./../assets/bg-desktop-dark.jpg);
}

:root[data-theme=light] {
  --bg-color: #f6f6f8;
  --card-bg: white;
  --text-color: hsl(0, 0%, 26%);
  --inactive-color: hsl(236, 9%, 61%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(235, 19%, 35%);
  --check-color: hsl(233, 11%, 84%);
  --shadow-color: hsla(240, 5%, 85%, 0.603);
  --plus-color: black;
  --bg-img-mobile: url(./../assets/bg-mobile-light.jpg);
  --bg-img-desktop: url(./../assets/bg-desktop-light.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

a,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-img-mobile);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
}

section.wrapper {
  transition: margin-top 0.3s ease, width 0.3s ease;
  min-height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
section.wrapper > * {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2.2rem;
}
header h1 {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: var(--bold);
}
header button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
header img {
  width: 2.2rem;
}
header img:hover {
  transform: scale(1.1);
}

.add-todo {
  background-color: var(--card-bg);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.add-todo input {
  flex: 1;
  background-color: var(--card-bg);
  border: none;
  text-align: center;
  font-size: 1rem;
  color: var(--plus-color);
  padding: 0.7rem;
  outline: none;
}
.add-todo #add-btn {
  color: var(--plus-color);
  font-size: 2.5rem;
  padding-right: 1rem;
  cursor: pointer;
}
.add-todo #add-btn:hover {
  transform: scale(1.1);
}

span.circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--check-color);
  border-radius: 50%;
  margin-left: 0.5rem;
}

div.item-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
}

.list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.9rem;
  border-top: 1px solid rgb(205, 197, 197);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.list-info div,
.list-info button {
  color: var(--inactive-color);
  font-size: 1rem;
}
.list-info div:hover,
.list-info button:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}
.list-info button {
  cursor: pointer;
}

ul.items {
  min-height: 11.3rem;
}

li {
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
  color: var(--plus-color);
  padding: 0.7rem;
  border-bottom: 1px solid rgb(205, 197, 197);
  cursor: pointer;
}
li .todo {
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Hides any overflowed content */
  text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
  width: 87%;
}
li .circle img {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  display: none;
}
li .circle {
  margin-left: -0.2rem;
}
li button img {
  width: 1rem;
}
li .circle img:hover,
li button img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.strike-todo {
  opacity: 0.5;
}
.strike-todo div.todo {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.view-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  padding: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.view-options button {
  font-size: 1.125rem;
  color: var(--inactive-color);
  font-weight: 700;
}
.view-options button:hover {
  transform: scale(1.1);
  color: var(--hover-color);
  cursor: pointer;
}
.view-options .active {
  color: var(--active-color);
}

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: var(--card-bg);
  color: var(--plus-color);
  border-radius: 0.25rem;
  font-size: 1.2rem;
}

.showDisplay {
  display: none;
}

footer {
  text-align: center;
  color: var(--plus-color);
  position: absolute;
  bottom: 0px;
  height: 2.5rem;
}

@media all and (min-width: 550px) {
  section.wrapper {
    margin-top: 2rem;
    width: 80vw;
  }
}
@media all and (min-width: 700px) {
  section.wrapper {
    margin-top: 4rem;
    width: 70vw;
  }
}
@media all and (min-width: 800px) {
  section.wrapper {
    margin-top: 7rem;
    width: 65vw;
  }
}
@media all and (min-width: 900px) {
  body {
    background-image: var(--bg-img-desktop);
    background-color: var(--bg-color);
    overflow: hidden;
  }
  section.wrapper {
    width: 50vw;
    margin-top: 0rem;
  }
}
@media all and (min-width: 1200px) {
  section.wrapper {
    width: 40vw;
    margin-top: 5rem;
  }
}
@media all and (min-width: 1400px) {
  section.wrapper {
    width: 35vw;
    margin-top: 6rem;
  }
}
@media all and (min-width: 1800px) {
  section.wrapper {
    width: 30vw;
    margin-top: 10rem;
  }
}
@media all and (min-width: 2000px) {
  section.wrapper {
    width: 25vw;
    margin-top: 13rem;
  }
}/*# sourceMappingURL=style.css.map */