// ### Primary
$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

//Font variables
$Jose: "Josefin Sans", sans-serif;
$f-size: 1.125rem;
$t-size: 0.95rem;
$normal: 400;
$bold: 700;
$rounded-border: 0.25rem;
$pop: scale(1.1);
$card-padding: 0.7rem;

$CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$active: hsl(220, 98%, 61%);

//dark theme
:root[data-theme="dark"] {
  --bg-color: #171723;
  --card-bg: hsl(235, 24%, 19%);
  --text-color: hsl(0, 0%, 73%);
  --inactive-color: hsl(234, 11%, 52%);
  --active-color: hsl(234, 39%, 85%);
  --hover-color: hsl(236, 33%, 92%);
  --check-color: hsl(233, 14%, 35%);
  --shadow-color: hsla(0, 0%, 7%, 0.877);
  --plus-color: white;
  --bg-img-mobile: url(./../assets/bg-mobile-dark.jpg);
  --bg-img-desktop: url(./../assets/bg-desktop-dark.jpg);
}
//light theme
:root[data-theme="light"] {
  --bg-color: #f6f6f8;
  --card-bg: white;
  --text-color: hsl(0, 0%, 26%);
  --inactive-color: hsl(236, 9%, 61%);
  --active-color: hsl(220, 98%, 61%);
  --hover-color: hsl(235, 19%, 35%);
  --check-color: hsl(233, 11%, 84%);
  --shadow-color: hsla(240, 5%, 85%, 0.603);
  --plus-color: black;
  --bg-img-mobile: url(./../assets/bg-mobile-light.jpg);
  --bg-img-desktop: url(./../assets/bg-desktop-light.jpg);
}

@import "mixins";
@import "toDoApp";
